@font-face {
    font-family: 'ClashDisplay';
    src:url('../../assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('../../assets/fonts/ClashDisplay-Variable.woff') format('woff'),
        url('../../assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Corinthia';
    src:url('../../assets/fonts/Corinthia-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Corinthia-Regular.woff') format('woff'),
        url('../../assets/fonts/Corinthia-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .quote{
        @apply absolute block top-[-55px] left-[35px] text-[200px] text-white font-medium leading-none content-['“'];
    }
    .scrollbar{
        scrollbar-color:#5DBE8C #00000000;
        scrollbar-width: thin;
    }
    .input-form{
        @apply bg-transparent rounded-[7px] border border-white placeholder:text-white placeholder:text-[14px] 2xl:placeholder:text-[16px] text-[14px] 2xl:text-[16px] p-[15px] 2xl:p-[18px] w-full xl:w-[340px] 2xl:w-[400px]
        focus:outline-none focus:border-third focus:ring-2 focus:ring-third
        invalid:border-red-500 invalid:text-red-200;
    }
    .bubble_a{
        animation: show 200ms linear 1s forwards;
    }
    .bubble_b{
        animation: show 200ms linear 1.2s forwards;
    }
    .bars {
        @apply size-[45px] 2xl:size-[60px] hover:bg-white hover:text-black cursor-pointer rounded-full transition-all z-[500];
        .line {
            stroke-width: 4;
            stroke-linecap: square;
            transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
            &.top, &.bottom {stroke-dasharray: 40 172;}
            &.middle {stroke-dasharray: 40 111;}
        }
        &.active{
            @apply text-black bg-white;
            .top, .bottom {stroke-dashoffset: -132px;}
            .middle {stroke-dashoffset: -71px;}
        }
    }
    
    @keyframes show{
        from{
            opacity: 0;
            transform: translateY(50%);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}